.centrato{
    margin: auto;
    width: 500px;
    padding: 20px;
    border: 1px solid black;
    align-content: center;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(-45deg, #ee7752, #a83ce7, #00bbff, #09ff00);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: auto;
    overflow: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.intestazione{
    color: black; 
    transition: .0.2s all;   
    transition-delay: 0.2s; 
}

.intestazione:hover{
    color: red;
    transition-delay: 0.
    1s;
}

body{
    background-color: rgb(15, 15, 15);
    font-family: 'Lato', sans-serif;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=reset] {
    width: 100%;
    background-color: #ff0000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
    box-shadow: black;
  }

  input[type=reset]:hover {
    background-color: #b10000;
    box-shadow: black;

  }
  
 
  
/* HIDE RADIO */
input[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
input[type=radio] + img{
  cursor: pointer;
  display: inline-block; 
  position: relative; 
  width: 100px; 
  height: 100px; 
  overflow: hidden; 
  border-radius: 50%;
}

/* CHECKED STYLES */
input[type=radio]:checked + img{
  outline: 2px solid #f00;
}


  