<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SVG</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" href="https://drive.google.com/uc?export=download&id=18F63FQeNvQV6J-WPPGo3SqWfsy7Y_bBo">
</head>
<body style="background: radial-gradient(circle, #3372d4, #2a61ba, #2050a0, #154088, #083170)
">
<div  align="center">
  <h1 style="color:white;">REGISTRAZIONE AVVENUTA CON SUCCESSO!</h1> 
  <h2 style="color:white;">EFFETTUA IL LOGIN QUI <a href="http://localhost:8080/Campania_Video/files/partiAgg/Login2.jsp
"> CLICCAMI </a></h2>
</div>
  </body>

</html>