<%@ page language="java" contentType="text/html; charset=ISO-8859-1" pageEncoding="ISO-8859-1" %>
  <%@page import="admin.model.*" %>
    <%@page import="java.util.List" %>
      <!DOCTYPE html>
      <html lang="en">
      <title>Amministrazione - Create Code</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="login.css">

      <body>

        <!-- Navbar -->
        <div class="w3-top">
          <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue"
              href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i
                class="fa fa-bars"></i></a>
            <a href="HomePage.jsp" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
            <a href="Search.jsp" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Search</a>
            <a href="CreateCode.jsp" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Create
              Code</a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Create Playlist</a>

          </div>

          <!-- Navbar on small screens -->
          <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
            <a href="Search.jsp" class="w3-bar-item w3-button w3-padding-large">Search</a>
            <a href="CreateCode.jsp" class="w3-bar-item w3-button w3-padding-large">Create Code</a>
            <a href="#" class="w3-bar-item w3-button w3-padding-large">Create Playlist</a>

          </div>
        </div>

        <!-- Header -->
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-10 login-box">
              <div class="col-lg-12 login-title">
                Lista dei codici
              </div>

              <% List<Codice> codici = CodiceRepository.ReadAll();

                if (codici.size() == 0) {
                String redirectURL = "fail.jsp";
                response.sendRedirect(redirectURL);
                }
                %>

                <ul>
                  <% for(Codice codice : codici){ %>
                    <li>
                      <% out.print(codice.getCodice()); %>
                    </li>
                    <%} %>
                </ul>
            </div>
          </div>
        </div>




        <script>
          // Used to toggle the menu on small screens when clicking on the menu button
          function myFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
              x.className += " w3-show";
            } else {
              x.className = x.className.replace(" w3-show", "");
            }
          }
        </script>

      </body>

      </html>